
.icon-image{
    transform: translateX(-50%);
    left: 50%;
    top: 22%;
}

.icon-img-circle{
    background-color: rgba(242, 146, 29, 0.15);
}

@media screen and (max-width: 600px) {
     .service-heading{
    width: 90% !important;
    font-size: 40px !important;
    font-weight: 500 !important;
    }
    .service-para{
    width: 90% !important;
    font-size: 20px !important;
    }
  }
  